@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

$primary-color: rgb(56, 56, 56);
$text-color: white;
$font-stack: 'PT Sans', sans-serif;


body{
    background-color: $primary-color;
    color: $text-color;
    font-family: $font-stack;
}